extends layout.pug

block content
  .masthead          
    h3.muted.title 
      a(href='/') MeSocial
  hr
  .jumbotron
    h1 MeSocial
    h3.muted Admin console coming soon
    p.lead
      | If you are interested in a <b>MeSocial</b> page, please reach out to me at <b>ciarancallaghan94@gmail.com</b>
