doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MeSocial
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href="/css/fontawesome.min.css", rel="stylesheet")
    link(href="/css/all.min.css", rel="stylesheet")
    link(href="/css/social-icons.css", rel="stylesheet")
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(href="/css/style.css", rel="stylesheet")
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .container-narrow
      .masthead          
        h3.muted.title 
          a(href='/') MeSocial
      hr
      .jumbotron
        h1 MeSocial
        h3.muted Admin console coming soon
        p.lead
          | If you are interested in a <b>MeSocial</b> page, please reach out to me at <b>ciarancallaghan94@gmail.com</b>
      hr
      .footer
        p © MeSocial 2020
  include partials/scripts