extends layout.pug

block append head
  style(type='text/css').
      .btn,
      .btn:hover,
      .btn:active,
      .btn:visited {
        background-color: #fa1616 !important;
        background-image: none;
        color: white;
      }

block content
  .masthead 
    h3.muted.title 
      a(href='/') MeSocial
  hr
  .jumbotron
    h1 #{statusCode}
    h2
      i #{errorMessage}
    a.btn.btn-large.notfound-btn(href="/") Back to MeSocial
