extends layout.pug

block content
  .container-narrow
      .masthead 
        h3.muted.title 
          a(href='/') MeSocial
      hr
  .jumbotron
    h1 MeSocial
    p.lead
      | All of your online activity in one place
    a.btn.btn-large(href="/create") Create a page
  hr
  div.description
    div
      h3 Why MeSocial
    div
      p
        | MeSocial is a single place for all your online profiles. No longer do you need to share or advertise all your different platforms, simply proe your MeSocial and people will be able to keep updated with you online.
  hr
  div
    div
      h3 Check it out
    div.otherprofiles
      .card.otherprofile
        .card-header  
          h5 Ciaran Callaghan
        .card-body
          p.card-text
            | CEO of MeSocial. Check out their profile.
          a.btn(href='/u/ciarancallaghan') Check Out
      .card.otherprofile
          .card-header
            h5 Ben Lawless
          .card-body
            p.card-text
              | ACTOR • MUSICIAN • WRITER
            a.btn(href='/u/benlawless') Check Out
      .card.otherprofile
        .card-header  
          h5 Enda Fallon
        .card-body
          p.card-text
            | Irish DJ/ Producer. Check out his latest work!
          a.btn(href='/u/endafallon') Check Out
