extends layout.pug

block content
 main#main
    h1.ui.center.aligned.header MeSocial
    .ui.container
    p Check out the creaters MeSocial here:
    a(href="http://localhost:3000/profiles/ciarancallaghan") Ciaran Callaghan