doctype html
html(lang='en')
  head
    block head
      script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-173570067-1')
      script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-173570067-1');
      meta(charset='utf-8')
      title MeSocial
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name='description', content='Your very own online landing page.')
      meta(name='author', content='Ciaran Callagan')
      link(href='/css/bootstrap.min.css', rel='stylesheet')
      link(href="/css/fontawesome.min.css", rel="stylesheet")
      link(href="/css/all.min.css", rel="stylesheet")
      link(href="/css/social-icons.css", rel="stylesheet")
      link(href='/css/bootstrap-responsive.css', rel='stylesheet')
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
      link(href="/css/style.css", rel="stylesheet")
      link(rel='apple-touch-icon-precomposed', href='/ico/mesocial.png')
      link(rel='shortcut icon', href='/ico/mesocial.png')
  body
    .container-narrow
      block content
      hr
      .footer
        p © MeSocial 2020
        
  include partials/scripts