doctype html
doctype
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='MeSocial, the home to your online presence')
    meta(name='author', content='Ciaran Callaghan')
    title MeSocial
    link(rel='stylesheet', type="text/css", href='../css/style.css')
      
  body
    block content

    block footer
      footer
        p © #{new Date().getFullYear()} MeSocial
