doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MeSocial: #{user.PrimaryTitle}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href="/css/fontawesome.min.css", rel="stylesheet")
    link(href="/css/all.min.css", rel="stylesheet")
    link(href="/css/social-icons.css", rel="stylesheet")
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(href="/css/style.css", rel="stylesheet")
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon.png')
    link(rel='shortcut icon', href='/ico/favicon.png')

    style(type='text/css').
      .btn,
      .btn:hover,
      .btn:active,
      .btn:visited {
        background-color: #fa1616 !important;
        background-image: none;
        color: white;
      }

  body
    .container-narrow
      .masthead 
        h3.muted.title 
          a(href='/') MeSocial
      hr
      .jumbotron
        h1 404
        h2
          i User not found: #{user}
        a.btn.btn-large.notfound-btn(href="/") Back to MeSocial
      hr
      .footer
        p © MeSocial 2020
  include ./partials/scripts