* {
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin: 35px 0 15px 0;
  text-align: center;
}
