* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #fcfcfc;
}

.main {
  height: 100%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 70px;
  line-height: 1;
  margin-bottom: 10px;
}

.jumbotron h2 {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 20px;
  color: #999999;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.btn,
.btn:hover,
.btn:active,
.btn:visited {
  background-color: #e88c15 !important;
  background-image: none;
  color: white;
}

.btn:hover {
  opacity: 0.7;
  background-image: none;
  color: white;
}

.verified {
  float: right;
  display: inline-block;
  padding: 12px;
  font-size: 22px;
}

.title {
  display: inline-block;
}

.title a {
  color: #999999;
}

.title a:hover {
  text-decoration: none;
  opacity: 0.7;
}

.lead {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  text-align: center;
  margin: 35px 0 15px 0;
}

.footer p {
  font-size: 1.2em;
  font-weight: bold;
}
