* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #fcfcfc;
}

.main {
  height: 100%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 50px 0 30px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 60px;
  line-height: 1;
  margin-bottom: 10px;
}

.jumbotron h2 {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #888;
  font-weight: 600;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 10px 20px;
}

.btn {
  background-color: #e88c15;
  background-image: none;
  color: white;
}

.btn:hover {
  opacity: 0.7;
  background-image: none;
  color: white;
}

.verified {
  float: right;
  display: inline-block;
  padding: 12px;
  font-size: 22px;
}

.verified:hover {
  opacity: 1;
}

.home {
  float: right;
  display: inline-block;
  padding: 12px;
  font-size: 22px;
}

.home:hover {
  text-decoration: none;
  opacity: 0.7;
}

.homebutton {
  margin: auto;
}

.title {
  display: inline-block;
  margin-top: 12px;
  margin-left: 10px;
  color: #e88c15;
  font-weight: 700;
}

.title:hover {
  text-decoration: none;
  opacity: 0.7;
}

.lead {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  font-weight: 500;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.social h6 {
  visibility: hidden;
  font-size: 13.5px;
  font-weight: 600;
}

.social a:hover + h6 {
  visibility: visible;
}

.otherprofiles {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  text-align: center;
}

.otherprofiles p {
  font-weight: 500;
}

.description {
  margin: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}

.description-heading {
  margin-bottom: 20px;
}

.otherprofile .card-header a {
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 10px;
}

.otherprofile .card-body {
  padding: 12px 4px;
  font: 0.8em;
}

.otherprofile .card-header h5 {
  font-size: 1em;
  font-weight: bold;
}

.button__blue {
  background-color: #007cb6;
}

.button__pink {
  background-color: #e22c6c;
}

.button__green {
  background-color: #16ba53;
}

.button__red {
  background-color: #bc0000;
}

.footer {
  text-align: center;
  margin: 35px 0 15px 0;
}

.footer p {
  font-size: 1.2em;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .social h6 {
    visibility: visible;
  }

  .jumbotron h1 {
    font-size: 50px;
  }

  .jumbotron h2 {
    font-size: 20px;
  }

  .lead {
    font-size: 1rem;
  }

  .otherprofiles {
    grid-template-columns: 1fr 1fr;
  }
}

/* searchbar */
.searchbar {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.searchbar input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

/* Style the submit button */
.searchbar button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.searchbar button:hover {
  background: #0b7dda;
}

/* Clear floats */
.searchbar::after {
  content: "";
  clear: both;
  display: table;
}

/* Bootstrap Override */
* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
